footer section#blod {
  a: c;
}
footer section#blod div.wrap {
  a: c;
}
footer section#blod div.wrap h3 {
  a: c;
}
footer section#blod div.wrap ul {
  a: c;
}
footer section#blod div.wrap ul li {
  a: c;
}
footer section#blod div.wrap ul li a {
  a: c;
}
footer section#blod div.wrap ul li a p {
  a: c;
}
footer section#blod div.wrap ul li a p strong {
  a: c;
}