section#tip {
  a: c;
}
section#tip div.wrap {
  a: c;
}
section#tip div.wrap h4 {
  a: c;
}
section#tip div.wrap ul.no {
  a: c;
}
section#tip div.wrap ul.no li {
  a: c;
}
section#tip div.wrap ul.no li a {
  a: c;
}
section#tip div.wrap ul.no li a h3 {
  a: c;
}
section#tip div.wrap ul.no li a p {
  a: c;
}
section#tip div.wrap ul.pdf {
  a: c;
}
section#tip div.wrap ul.pdf li {
  a: c;
}
section#tip div.wrap ul.pdf li a {
  a: c;
}
section#tip div.wrap ul.pdf li a h3 {
  a: c;
}
section#tip div.wrap ul.pdf li a p {
  a: c;
}
section#tip div.wrap ul.cap {
  a: c;
}
section#tip div.wrap ul.cap li {
  a: c;
}
section#tip div.wrap ul.cap li a {
  a: c;
}
section#tip div.wrap ul.cap li a h3 {
  a: c;
}
section#tip div.wrap ul.cap li a p {
  a: c;
}
section#tip div.wrap ul.zip {
  a: c;
}
section#tip div.wrap ul.zip li {
  a: c;
}
section#tip div.wrap ul.zip li a {
  a: c;
}
section#tip div.wrap ul.zip li a h3 {
  a: c;
}
section#tip div.wrap ul.zip li a p {
  a: c;
}
section#tip div.wrap ul.self {
  a: c;
}
section#tip div.wrap ul.self li {
  a: c;
}
section#tip div.wrap ul.self li a {
  a: c;
}
section#tip div.wrap ul.self li a h3 {
  a: c;
}
section#tip div.wrap ul.self li a p {
  a: c;
}