footer{
    section#blod{a:c;
        div.wrap{a:c;
            h3{a:c;
    
            }
            ul{a:c;
                li{a:c;
                    a{a:c;
                        p{a:c;
                            strong{a:c;
    
                            }
                        }
                    }
                }
            }
        }
    }
}