section#tip{a:c;
    div.wrap{a:c;
        h4{a:c;

        }
        ul.no{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
        ul.pdf{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
        ul.cap{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
        ul.zip{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
        ul.self{a:c;
            li{a:c;
                a{a:c;
                    h3{a:c;

                    }
                    p{a:c;

                    }
                }
            }
        }
    }
}